minSum=0
maxSum=0
arr = list(map(int, input("Type number with space: ").split()))
print(arr)
arr.sort()
print(arr)
for i in range(0,4):
    minSum=minSum+arr[i]
for i in range(0,5):
    maxSum=maxSum+arr[i]
print(str(minSum) +str(" ")+ str(maxSum))
